# Logs
logs
*.log
npm-debug.log*

#environment variable files
.env
.env.*
!.env.example

#node modules
node_modules/
.aws-sam/ 

#VS code
.vscode/

#build outputs
dist/
build/
coverage/

#K8 tooling
.kube/ 
kubeconfig*